/********************************TAG SELECTORS******************************************/

h1 {
	color: #B8DFD8;
	font-size: 100px;
}

body {
	background-color: #50CB93;
}


img:hover {
	background-color: gold;
}


/********************************CLASS SELECTORS******************************************/

.cheese {
	background-color: green;
}

.broccoli {
	background-color: red;
}


/*************************************ID SELECTIORS******************************************/

#heading {
	color: blue;

}